/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Imports
	# Custom properties
	# Reset
	# Typography
	# Elements
	# Links
# Accessibility
# Layout
# Forms
# Header
	# Main navigation menu
# Content navigation
# Footer
# Infinite scroll
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Imports
--------------------------------------------------------------*/
@import "_custom-properties.css";
@import "_reset.css";
@import "_typography.css";
@import "_elements.css";
@import "_links.css";

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/**
 * Text meant only for screen readers.
 * Re: word-wrap: Many screen reader and browser combinations announce broken
 * words as they would appear visually.
 */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
.site {
	position: relative;
	margin: 0 auto;
	max-width: 100%;
	min-height: 100vh;
}

@media (--sidebar-query) {

	.has-sidebar .site {
		margin: 0 1em;
		display: grid;
		grid-template-columns: 3fr 1fr;
		grid-gap: 2rem;
		justify-content: center;
	}

	.site-main {
		grid-column: 1;
		min-width: 0;
	}

	.primary-sidebar {
		grid-column: 2;
		min-width: 0;
	}

	.site-footer,
	.newsletter-signup {
		grid-column: span 2;
	}

	
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/* stylelint-disable */
textarea {
	width: 100%;
}
/* stylelint-enable */

/* stylelint-disable */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	margin: auto 1em ;
	border: 1px solid;
	border: none;
	font-size: 1rem;
	line-height: 1;
	padding: 1em 2em;
	cursor: pointer;
}
/* stylelint-enable */

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
	border: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	padding: 7px;
	max-width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-header {
	display: flex;
	position: fixed;
	top: 0;
	background-color: var(--color-theme-white);
	width: 100%;
	z-index: 10;
	box-shadow: 0 0px 15px 0px rgba(0,0,0,.3);
	min-height: 40px;
}

.site-header .white-logo-link {
	display: none;
}

.site-header .custom-logo-link {
	display: none;
}

@media (--wide-menu-query) {
	.site-header {
		position: absolute;
		background: none;
		box-shadow: none;
		transition: background 0.5s;
	}

	.site-header .custom-logo-link,
	.site-header .mobile-logo-link{
		display: none;
	}

	.site-header .white-logo-link {
		display: inline-block;
	}

	.site-header.sticky {
		position: fixed;
		background-color: var(--color-theme-white);
		box-shadow: 0 0px 15px 0px rgba(0,0,0,.1);
	}

	.site-header.sticky .white-logo-link {
		display: none;
	}

	.site-header.sticky .custom-logo-link {
		display: inline-block;
	}
}

.header-image {
	margin: 0 auto;
}

.header-image img {
	display: block;
	margin: 0 auto;
}

.custom-logo-link {
	display: inline-block;
	margin: 0 auto
}

.site-branding {
	text-align: center;
	padding: 5px 1rem 5px;
}

@media (--wide-menu-query) {
	.site-branding {
		padding: 5px 0 0 2rem;
	}
}

.site-title {
	margin: 0 1em;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
	font-size: 38px;
	font-weight: 700;
	line-height: 1.2;
	color: #333332;
}

.site-title a {
	text-decoration: none;
	color: inherit;
}

.site-description {
	margin: 0.4375em 0 0;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
	font-size: 17px;
	font-weight: inherit;
	line-height: 1.4;
	word-wrap: break-word;
	color: #757575;
}

/*--------------------------------------------------------------
# Main Content Area
--------------------------------------------------------------*/
/* Page Headers */
.entry-header, .page-header{
	background: var(--color-theme-grey);
	background-image: url("../images/BGCB-Website-Ptrn-Geometry-Grey.png");
	background-attachment: fixed;
	min-height: 40vh;
	justify-content: center;
	padding: 5em 1em 2em;
}
@media (--wide-window-query) {
	.entry-header{
	display: flex;
	}
}

.post .entry-header {
	min-height: 5em;
	padding: 0;
}

.entry-header.blue{
	background-image: url("../images/BGCB-Website-Ptrn-Geometry-Blue.png");
}

.entry-header.green{
	background-image: url("../images/BGCB-Website-Ptrn-Geometry-Green.png");
}

.entry-header.purple{
	background-image: url("../images/BGCB-Website-Ptrn-Geometry-Purple.png");
}

.entry-header.orange{
	background-image: url("../images/BGCB-Website-Ptrn-Geometry-Orange.png");
}

.entry-title,
.entry-title a, 
.page-title{
	text-align: center;
	margin:	1em;
	color: var(--color-theme-white);
	align-self: center;
}

@media (--wide-window-query) {
	.page .entry-title{
		margin: 1em;
		/* flex-basis: 20%; */
	}
}

.page .post-thumbnail {
	margin: 2em auto;
	padding: 1em;
	background: white;
	transform: rotate(3deg);
	max-width: 35em;
}

@media (--wide-window-query) {
	.page .post-thumbnail {
		margin: 2em;
		align-self: center;
	}
}

.site-main {
	background: url(../images/BGCB-Website-Txtr-Circle_Shaped_Dots-Top_Left.svg) top left, url(../images/BGCB-Website-Txtr-Circle_Shaped_Dots-Bottom_Right.svg) bottom right;
	background-size: 10rem, 10rem;
	background-repeat: no-repeat, no-repeat;
	padding-bottom: 2rem;
}

/*--------------------------------------------------------------
## Basic navigation menus - handles submenu and small screen toggle
--------------------------------------------------------------*/
.nav--toggle-small .menu-toggle {
	display: block;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
	font-size: 70%;
	text-transform: uppercase;
	border-radius: 0;
	color: white;
	position: absolute;
	padding: 0;
	right: .2rem;
	top: -2rem;
	width: 4rem;
	height: 4rem;
	box-shadow: 0 4px 6px 1px rgba(0,0,0,.4);
	transition: background .4s , transform .4s ease-out;
}

.nav--toggle-small .menu {
	/* display: none; */
	height: 0;
	overflow: hidden;
	transition: height .2s ease-out;
}

.nav--toggle-sub .dropdown,
.nav--toggle-sub .dropdown-toggle {
	display: none;
}

@media (--narrow-menu-query) { }

@media (--mid-menu-query) {

	.nav--toggle-small.nav--toggled-on .menu {
		height: 100vh;
		overflow: auto;
	}

	.nav--toggle-small .menu-toggle {
		background-color: var(--color-theme-blue);
		transform: rotateY(0deg);
	}
	.nav--toggle-small.nav--toggled-on .menu-toggle {
		background-color: var(--color-theme-orange);
		transform: rotateY(180deg);
	}

	.nav--toggle-small .menu-toggle .close-button,
	.nav--toggle-small.nav--toggled-on .menu-toggle .open-button {
		visibility: hidden;
		transform: rotateY(90deg);
		transition-delay: 0s;
	}
	.nav--toggle-small .menu-toggle .open-button,
	.nav--toggle-small.nav--toggled-on .menu-toggle .close-button{
		visibility: visible;
		transform: rotateY(0deg);
		transition-delay: .1s;
	}

	.nav--toggle-small.nav--toggled-on .menu-toggle .close-button {
		transform: rotateY(180deg);
	}

	.menu-toggle .open-button, 
	.menu-toggle .close-button {
		padding: 0.5em .5em;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transition: transform .2s ease-out, visibility .2s ease-out;
	}

	.nav--toggle-small .menu-toggle img{
		width: 2rem;
		height: 2rem;
		margin: 0 auto .5em;
	}

	.menu-toggle .open-button img {
		padding: .4em 0;
	}

}

@media (--wide-menu-query) {
	.nav--toggle-small .menu {
		height: auto;
		overflow: visible;
	}

	.nav--toggle-small .menu-toggle {
		display: none;
	}

	.nav--toggle-small .menu {
		display: block;
	}

	.nav--toggle-sub ul ul {
		display: none;
		position: absolute;
		top: 100%;
		flex-direction: column;
		/* background: #fff; */
		/* margin-left: 1em; */
		/* box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); */
		/* z-index: 1; */
		background: var(--color-theme-blue);
	}

	.nav--toggle-sub .dropdown,
	.nav--toggle-sub .dropdown-toggle {
		display: block;
		background: transparent;
		position: absolute;
		right: .5em;
		top: 50%;
		width: var(--dropdown-symbol-width);
		height: var(--dropdown-symbol-width);
		font-size: inherit;
		line-height: inherit;
		margin: 0;
		padding: 0;
		border: none;
		border-radius: 0;
		transform: translateY(-70%);
		overflow: visible;
	}

	.nav--toggle-sub .dropdown-symbol {
		display: block;
		background: transparent;
		position: absolute;
		right: 20%;
		top: 35%;
		width: 60%;
		height: 60%;
		border: solid #FFF;
		border-width: 0 2px 2px 0;
		transform: translateY(-50%) rotate(45deg);
	}

	.sticky .nav--toggle-sub .dropdown-symbol {
		border-color: var(--color-theme-blue);
	}

	.nav--toggle-sub ul ul .dropdown,
	.nav--toggle-sub ul ul .dropdown-toggle {
		top: 40%;
		right: 0.2em;
	}

	.nav--toggle-sub ul ul .dropdown-symbol {
		transform: rotate(-45deg);
	}

	.nav--toggle-sub .dropdown-toggle:hover,
	.nav--toggle-sub .menu-item--has-toggle:hover .dropdown-toggle {
		pointer-events: none;
	}

	/* Need menu-item-has-children for non-JS */
	.nav--toggle-sub li.menu-item-has-children,
	.nav--toggle-sub li.menu-item--has-toggle {
		position: relative;
		padding-right: var(--dropdown-symbol-width);
	}

	/*
	 * If the dropdown toggle is active with JS, then
	 * we'll take care of showing the submenu with JS.
	 */
	.nav--toggle-sub li:hover > ul,
	.nav--toggle-sub li.menu-item--toggled-on > ul,
	.nav--toggle-sub li:not(.menu-item--has-toggle):focus > ul {
		display: block;
	}

	/*
	 * "focus-within" is an alternative to focus class for
	 * supporting browsers (all but IE/Edge) for no-JS context
	 * (e.g. AMP) See https://caniuse.com/#feat=css-focus-within
	 *
	 * This selector needs to stay separated, otherwise submenus
	 * will not be displayed with IE/Edge.
	 */
	.nav--toggle-sub li:not(.menu-item--has-toggle):focus-within > ul {
		display: block;
	}
}

/*--------------------------------------------------------------
## Main navigation menu
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	margin: 0 auto 0;
	padding: 0 1em;
	/* max-width: var(--content-width); */
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
}

@media (--narrow-menu-query) {
	.main-navigation {
		width: 100%;
	}
}

@media (--mid-menu-query) {
	.main-navigation {
		position: absolute;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
		top: 44px;
		background: var(--color-theme-blue);
		z-index: 1;
		right: 0;
	}
}

.main-navigation a {
	display: block;
	width: 100%;
	padding: 1em 1em 0.5em 0;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	color: var(--color-theme-white);
}

@media (--wide-menu-query) {
	.main-navigation a {
		padding: 0.5em 1em 0.5em 0;
		font-size: 15px;
		color: var(--color-theme-white);
		border-bottom: 4px solid transparent;
		transition: border .2s cubic-bezier(.22,.61,.36,1)
	}

	.sticky .main-navigation a {
		color: var(--color-theme-blue);
	}

	.main-navigation a:hover,
	.main-navigation a:focus {
		/* text-decoration: underline; */
		border-bottom: 4px solid white;
	}

	.sticky .main-navigation a:hover,
	.sticky .main-navigation a:focus {
		/* text-decoration: underline; */
		border-bottom: 4px solid var(--color-theme-blue);
	}

	.primary-menu-container > ul > li:last-child a {
		background: var(--color-theme-blue);
		color: white;
		/* margin-top: -30px;
		padding-top: 34px; */
		margin-top: -90px;
		padding-top: 94px;
		padding-bottom: 10px;
	}

	.sticky .primary-menu-container > ul > li:last-child a {
		margin-top: -30px;
		padding-top: 34px;
	}
	
	.main-navigation ul li:last-child a:hover,
	.main-navigation ul li:last-child a:focus { 
		border-bottom: 4px solid var(--color-theme-white);
	}
}

.main-navigation ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-navigation ul ul li {
	padding-left: 1em;
}

@media (--wide-menu-query) {

	.main-navigation ul li a {
		padding: 0.4em 1em;
	}

	.main-navigation ul li:first-child {
		margin-left: 0;
	}

	.main-navigation ul ul a {
		width: 200px;
	}

	/* stylelint-disable */
	.main-navigation ul ul li {
		padding-left: 0;
		margin-left: 0;
	}
	/* stylelint-enable */

	.main-navigation ul ul li a {
		width: 218px;
		background: none;
		
	}

	.sticky .main-navigation ul ul li a {
		color: white;
	}

	.main-navigation ul ul ul {
		top: 0;
		left: 100%;
		min-height: 100%;
	}

	.main-navigation .menu {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-top: 40px;
	}


}

/*--------------------------------------------------------------
# Content navigation
--------------------------------------------------------------*/
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation,
.site-main .pagination {
	border-bottom: 1px solid #111;
	margin: 0 auto 2em;
	max-width: var(--content-width);
	overflow: hidden;
	padding: 0 1.5rem 2em;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
}

@media (--content-query) {

	.site-main .comment-navigation,
	.site-main .posts-navigation,
	.site-main .post-navigation,
	.site-main .pagination {
		padding-left: 0;
		padding-right: 0;
	}
}

.nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	width: 50%;
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}

.post-navigation-sub span {
	color: var(--global-font-color);
	text-decoration: none;
	display: inline-block;
}

.site-main .pagination {
	margin-bottom: 1.5em;
}

.pagination .nav-links {
	justify-content: center;
	flex-wrap: wrap;
}

.pagination .page-numbers {
	display: inline-block;
	margin-bottom: 0.5em;
	margin-right: 1em;
	border: 1px solid var(--color-link);
	min-width: 1.75em;
	line-height: 1.75;
	text-align: center;
	text-decoration: none;
}

.pagination a:visited {
	color: var(--color-link);
}

.pagination a:hover,
.pagination a:focus,
.pagination a:active {
	border-color: #00a0d2;
}

.pagination .prev,
.pagination .next {
	min-width: auto;
	border-color: transparent;
	text-decoration: underline;
}

.pagination .prev:hover,
.pagination .prev:focus,
.pagination .prev:active,
.pagination .next:hover,
.pagination .next:focus,
.pagination .next:active {
	border-color: transparent;
}

.pagination .dots {
	min-width: auto;
	border: none;
}

.pagination .current {
	border-color: var(--global-font-color);
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
	margin: 0;
	padding: 2em 0;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
	background: var(--color-theme-grey);
	background-image: url("../images/BGCB-Website-Ptrn-Geometry-Grey.png");
	background-attachment: fixed;
	color: var(--color-theme-white);
}

.site-footer a,
.site-footer a:visited{
	color: #fff;
}

.info {
	display: flex;
	justify-content: space-evenly;
	
}

.info > * {
	flex-basis: 10em;
	padding: 1em;
}

.info .logo,
.info .social {
	flex-grow: 1;
}

.logo {
	border-right: 2px solid var(--color-theme-lightgrey);
}

.logo img {
	width: 100%;
	padding: 3em 1em;
	
}

.info .connect {
	flex-grow: 3;
	display: flex;
	flex-wrap: wrap;
}

.info .connect h3{
	flex-basis: 100%;
}

.info .connect .address {
	flex-basis: 50%;
	padding: 0 1em;
}

.info .social {
	display: flex;
	justify-content: space-between;
}

.info .social a{
	max-height: 4em;
	margin-top: 5em;
}

.site-info {
	text-align: center;
	font-size: var(--font-size-small);
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

.newsletter-signup {
	background: var(--color-theme-blue);
	padding: 1em 0rem;
}

.newsletter-signup .wpcf7-form {
	text-align: center;
}

@media (--wide-window-query) {
	.newsletter-form {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.page-content.newsletter-signup {
	margin-top: 0;
}

@media (--wide-window-query) {
	.newsletter-signup {
		padding: 5rem 2rem;
	}
}

.newsletter-intro {
	text-align: center;
	display: inline-block;
	color: var(--color-theme-white);
	/* font-size: var(--font-size-large); */
	font-size: 22px;
	font-weight: 600;
	margin: .5em auto;
	width: 100%;
}

@media (--wide-window-query) {
		.newsletter-intro {
			width: auto;
			margin: 1em 1.5em;
		}
}

.newsletter-signup .button {
	text-align: center;
	margin-top: 10px;
	font-size: 20px;
}

.newsletter-signup .wpcf7-form-control-wrap .wpcf7-email{
	padding: 1em;
	margin-bottom: .8em;
}

.donate-cta,
.donate-cta:visited {
	background: var(--color-theme-green);
	height: 50px;
	position: fixed;
	bottom: 50px;
	right: 1em;
	width: 50px;
	padding: 7px;
	
	color: var(--color-theme-white);
	display: flex;
	z-index: 10;
	box-shadow: 0 10px 15px 0px rgba(0,0,0,.5);
	text-decoration: none;
	border-radius: 50%;
}


.donate-cta span {
	display: none;	
}

@media (--wide-window-query) {
	.donate-cta,
	.donate-cta:visited {
		min-width: 160px;
		padding: 2px;
		border-radius: 0;
		right: 0;
		height: 42px;
	}

	.donate-cta img, 
	.donate-cta span {
		z-index: 15;
	}

		/* Rounded edge */
	.donate-cta:after {
		content: "";
		background: var(--color-theme-green);
		position: absolute;
		padding: 4px;
		left: -20px;
		width: 40px;
		height: 100%;
		top: 0;
		border-radius: 50% 0 0 50%;
	}

	.donate-cta span {
		display: block;
		padding: 5px;
		font-weight: bold;	
	}

	.donate-cta img {
		max-width: 35px;
		padding: 3px;
		margin-left: -18px;
	}

	.donate-cta:hover{
		transform: translateY(-3px);
		box-shadow: 0 5px 5px 0px rgba(0,0,0,.5);;
	}
}

.services-title{
	text-align: center;
}

.services {
	max-width: 60em;
}

@media (--wide-window-query) {
	.services {
		justify-content: center;
		display: flex;
	}

	.services-title{
		font-size: 40px;
		margin: 2em auto;
	}
}

/* Family Services */
.family-header{
	background: var(--color-theme-grey);
	background-image: url("../images/BGCB-Website-Ptrn-Geometry-Blue.png");
	background-attachment: fixed;
	min-height: 100vh;
	justify-content: center;
	padding: 2em 0;
}

@media (--wide-window-query) {
	.family-header{
		display: flex;
		padding: 5em 1em 3em 1em;
	}
}

.family-header .entry-content{
	color: white;
	margin-bottom: 3em;
	align-self: center;
}

.family-header .entry-content h1{
	font-size: var(--font-size-larger);
}

.service {
	padding: 1em;
	font-size: 16px;
	text-align: center;
	margin: 1em
}

.service img  {
	margin: auto;
	width: 200px;
}

.service p {
	max-width: 20em;
	margin: auto;
}

.services-copy {
	text-align: center;
	font-weight: bold;
}

@media (--wide-window-query) {
	.service {
		padding: 1em;
		font-size: 16px;
		text-align: center;
		width: 20%;
		margin: 1em
	}
	
	.services-copy {
		font-size: 38px;
		text-align: center;
		font-weight: bold;
	}
}

/* Programs */

.programs-container {
	margin: 2em auto;
	max-width: var(--content-width-large);
}

.programs-container h1{
	text-align: center;
	margin: 2em;
}

.programs-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.programs-list .program {
	flex-basis: 20em;
	min-width: 30%;
	margin-bottom: 4em;
	flex-wrap: wrap;
}

.program .content-box {
	display: none;	
}

.program .title-box {
	background: var(--color-theme-blue);
	color: white;
	text-align: center;
	padding: 1em;
}

.program .button {
	margin: 1em auto;
}

.program:nth-child(4n+1) .title-box {
	background: var(--color-theme-blue);
}
.program:nth-child(4n+1) .title-box .button {
	color: var(--color-theme-blue);
}
.program:nth-child(4n+2) .title-box {
	background: var(--color-theme-orange);
}
.program:nth-child(4n+2) .title-box  .button{
	color: var(--color-theme-orange);
}
.program:nth-child(4n+3) .title-box {
	background: var(--color-theme-purple);
}
.program:nth-child(4n+3) .title-box .button{
	color: var(--color-theme-purple);
}
.program:nth-child(4n+4) .title-box {
	background: var(--color-theme-green);
}
.program:nth-child(4n+4) .title-box  .button{
	color: var(--color-theme-green);
}

.program .title {
	margin: 0;
}

.program .subtitle {
	margin: 0;
	font-weight: normal;
	font-size: var(--font-size-small);
}

.blue-container {
	background: var(--color-theme-blue);
	padding: 4em 2em;
}

.blue-container .contact-info {
	color: white;
	text-align: center;
}

.blue-container .contact-info a,
.blue-container .contact-info a:hover,
.blue-container .contact-info a:visited {
	color: white;
}

.enrollment {
	padding: 2em;
	background: var(--color-theme-white);
	margin: 2em;
}

.enrollment .title{
	color: var(--color-theme-blue);
	font-size: var(--font-size-larger);
	max-width: 10em;
	margin: 0;
}

.enrollment .action {
	text-align: center;
}

.enrollment .action img {
	max-width: 5em;
	margin: 0em auto;
	padding-left: 1em;
}

.enrollment .action .button {
	margin: 1em;
}

@media (--wide-window-query) {
	.enrollment {
		display: flex;
	}
	.enrollment .text {
		padding: 0 2em;
		margin-right: 2em;
		border-left: solid .4em var(--color-theme-purple);
		border-right: solid .2em var(--color-theme-lightgrey);
		max-width: 100%;
	}

	.enrollment .action img {
		max-width: 100%;
		padding-left: 2em;
	}
	
}

/* Team */
.team-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	position: relative;
}

.team-card {
	max-width: 20em;
	color: white;
	padding: 1em;
	position: relative;
	background-image: url("../images/BGCB-Website-Ptrn-Geometry-Blue.png");
	box-shadow: 0 10px 25px 0px rgba(0,0,0,.2);
	transition: transform .2s ;
	text-align: center;
	margin: 1em;
}

.team-card .team-name,
.team-card .job-title {
	margin: .5em;
}

.team-card .job-title {
	font-weight: normal;
	font-size: var(--font-size-small);
}

.team-card:hover {
	box-shadow: 0 0px 15px 0px rgba(0,0,0,.2);
	transform: translateY(3px);
}

.team-card img {
	margin: auto;
}

.team-card .team-link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.team-member.wrap {
	margin: 2em auto;
	padding: 1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	background-image: url("../images/BGCB-Website-Ptrn-Geometry-Blue.png");
}

.team-member .team-description {
	color: white;
	margin-right: 1em;
	min-width: 20em;
	flex-basis: 20em;
}

.team-member .post-thumbnail {
	flex-basis: 12em;
	padding: .5em;
}



/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll .pagination,
.infinite-scroll.neverending .site-footer {

	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that
were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}
